<h1>Thank you for visiting my our store</h1>
<p>Have a look at our products section to check it out the new products that just got in the store</p>
<p>If you have any question about the store, contact us on the Contact section</p>

<!-- <h1 [ngStyle]="{
    'color': myh1 ? 'darkviolet' : 'black',
    'font-style': !myh1 ? 'normal' : 'italic'
   }">Home Page</h1>

   <h4 appItalicRed>A red background color with italics</h4>
 

<button (click)="justClick()">Click here</button>


<h1>Home Page</h1>
<ul *ngIf="members">
 <li *ngFor="let member of members.data">
 <img [src]="member.avatar" alt="face image of {{member.first_name}}">
 <p>{{ member.last_name }}, {{ member.first_name}}</p>
 </li>
 </ul> -->
<!-- <section>
 <img src="../../assets/img/homepg.jpeg">
</section> -->
